node_red_flows.json
[
    {
        "id": "5634a33238d7441d",
        "type": "tab",
        "label": "PM2.5 BiLSTM Prediction",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1bd4449c724f48bc",
        "type": "mqtt in",
        "z": "5634a33238d7441d",
        "name": "PM2.5 Data",
        "topic": "air_quality/pm25",
        "qos": "2",
        "datatype": "utf8",
        "broker": "af5dde0bb94f3a49",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 180,
        "wires": [
            [
                "da4c36c8f75b2608",
                "697b6da916dd7d8d"
            ]
        ]
    },
    {
        "id": "697b6da916dd7d8d",
        "type": "file",
        "z": "5634a33238d7441d",
        "name": "Save to CSV",
        "filename": "/home/toast/IoTCore/data.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 390,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "aa65f0560e84811e",
        "type": "ui_chart",
        "z": "5634a33238d7441d",
        "name": "PM2.5 Chart",
        "group": "5",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "PM2.5 (µg/m³)",
        "chartType": "line",
        "legend": false,
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "12",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "eaeb632d1dadfca4",
        "type": "mqtt in",
        "z": "5634a33238d7441d",
        "name": "Alert",
        "topic": "air_quality/alert",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "af5dde0bb94f3a49",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 230,
        "y": 500,
        "wires": [
            [
                "70663bdeba81eedc"
            ]
        ]
    },
    {
        "id": "70663bdeba81eedc",
        "type": "ui_text",
        "z": "5634a33238d7441d",
        "group": "5",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Alert Message",
        "label": "Alert",
        "format": "{{msg.payload.message}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 400,
        "y": 500,
        "wires": []
    },
    {
        "id": "cf4ddf6ffe7b26ea",
        "type": "debug",
        "z": "5634a33238d7441d",
        "name": "PM2.5 Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "6f2b3417581e9da8",
        "type": "function",
        "z": "5634a33238d7441d",
        "name": "Extract PM2.5",
        "func": "return {\"payload\":msg.payload.pm25};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 180,
        "wires": [
            [
                "aa65f0560e84811e",
                "cf4ddf6ffe7b26ea"
            ]
        ]
    },
    {
        "id": "da4c36c8f75b2608",
        "type": "json",
        "z": "5634a33238d7441d",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "6f2b3417581e9da8",
                "53abcb5073504228",
                "0cbf2cff44ee6b4e"
            ]
        ]
    },
    {
        "id": "53abcb5073504228",
        "type": "function",
        "z": "5634a33238d7441d",
        "name": "Extract Temperature",
        "func": "return {\"payload\":msg.payload.temperature};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 260,
        "wires": [
            [
                "0448297b77a983c4",
                "af7cc9a5288aced1"
            ]
        ]
    },
    {
        "id": "0448297b77a983c4",
        "type": "debug",
        "z": "5634a33238d7441d",
        "name": "Temperature Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 260,
        "wires": []
    },
    {
        "id": "af7cc9a5288aced1",
        "type": "ui_chart",
        "z": "5634a33238d7441d",
        "name": "Temperature Chart",
        "group": "5",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature (℃)",
        "chartType": "line",
        "legend": false,
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "12",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "0cbf2cff44ee6b4e",
        "type": "function",
        "z": "5634a33238d7441d",
        "name": "Extract Humidity",
        "func": "return {\"payload\":msg.payload.temperature};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 340,
        "wires": [
            [
                "af1f94f0f32244f4",
                "0cc56ffaebfecbff"
            ]
        ]
    },
    {
        "id": "af1f94f0f32244f4",
        "type": "debug",
        "z": "5634a33238d7441d",
        "name": "Humidity Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 340,
        "wires": []
    },
    {
        "id": "0cc56ffaebfecbff",
        "type": "ui_chart",
        "z": "5634a33238d7441d",
        "name": "Humidity Chart",
        "group": "5",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humidity (%)",
        "chartType": "line",
        "legend": false,
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "12",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "233e8f8773038295",
        "type": "mqtt out",
        "z": "5634a33238d7441d",
        "name": "Raise PM2.5",
        "topic": "air_quality/control",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "af5dde0bb94f3a49",
        "x": 390,
        "y": 420,
        "wires": []
    },
    {
        "id": "b6924314c506244e",
        "type": "inject",
        "z": "5634a33238d7441d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 230,
        "y": 400,
        "wires": [
            [
                "233e8f8773038295"
            ]
        ]
    },
    {
        "id": "80aa59045cecd05e",
        "type": "inject",
        "z": "5634a33238d7441d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 230,
        "y": 440,
        "wires": [
            [
                "233e8f8773038295"
            ]
        ]
    },
    {
        "id": "af5dde0bb94f3a49",
        "type": "mqtt-broker",
        "name": "",
        "broker": "140.116.245.212",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5",
        "type": "ui_group",
        "name": "Air Quality Dashboard",
        "tab": "6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]